<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load static %}
    <link rel="stylesheet" href="{% static 'maniac/index.css' %}">
    <title>Flags</title>
</head>
<body>

<center><h2 style="color: darkgreen">{{ repo_name }}</h2></center>
<table>
  <caption>Stale Docstrings:</caption>
  <thead>
    <tr>
      <th scope="col">File</th>
      <th scope="col">Function</th>
      <th scope="col">Time Behind</th>
      <th scope="col">Last Doc Commit</th>
      <th scope="col">Code Updated By</th>
    </tr>
  </thead>
  <tbody>
     {% for s in stale_fns %}
     <tr>
        {% for c in s %}
          {% if forloop.counter0 == 0 %}
            <td style="color: maroon"><a href="{{ c.1 }}">{{ c.0 }}</a></td>
          {% elif forloop.counter0 == 3 %}
            <td style="color: maroon"><a href="{{ c }}">commit</a></td>
          {% else %}
            <td style="color: maroon">{{ c }}</td>
          {% endif %}
        {% endfor %}
     </tr>
    {% endfor %}
  </tbody>
</table>
<table>
  <caption>Missing Docstrings:</caption>
  <thead>
    <tr>
      <th scope="col">File</th>
      <th scope="col">Function</th>
      <th scope="col">Time Behind</th>
      <th scope="col">Last Doc Commit</th>
      <th scope="col">Code Updated By</th>
    </tr>
  </thead>
  <tbody>
     {% for m in missing_fns %}
     <tr>
        {% for c in m %}
         {% if forloop.counter0 == 0 %}
            <td style="color: maroon"><a href="{{ c.1 }}">{{ c.0 }}</a></td>
         {% else %}
            <td style="color: maroon">{{ c }}</td>
         {% endif %}
        {% endfor %}
     </tr>
    {% endfor %}
  </tbody>
</table>
<table>
  <caption>Passed:</caption>
  <thead>
    <tr>
      <th scope="col">File</th>
      <th scope="col">Function</th>
      <th scope="col">Time Behind</th>
      <th scope="col">Last Doc Commit</th>
      <th scope="col">Code Updated By</th>
    </tr>
  </thead>
  <tbody>
     {% for p in passed_fns %}
  <tr>
        {% for c in p %}
        {% if forloop.counter0 == 0 %}
            <td style="color: maroon"><a href="{{ c.1 }}">{{ c.0 }}</a></td>
         {% else %}
            <td style="color: darkgreen">{{ c }}</td>
         {% endif %}
        {% endfor %}
  </tr>
    {% endfor %}
  </tbody>
</table>
</body>
</html>